.t-submit {
    width: calc(2 * var(--cellWidth)) !important;
    height: calc(var(--cellWidth) / 2) !important;
    margin-top: 32px !important;
    padding: 20px 30px !important;
    display: grid !important;
    place-items: end end !important;
    font-weight: 600 !important;
}

@media screen and (max-width: 980px) {
    .t-submit {
        width: calc(4 * var(--cellWidth)) !important;
        height: calc(var(--cellHeight) - 21px) !important;
    }
}
@media screen and (max-width: 640px) {
    .t-submit {
        width: 100% !important;
        place-items: center center !important;
    }
}