.t585 .t-container {
    max-width: calc(6 * var(--cellWidth));
}
.t585__header {
    height: calc(var(--cellHeight) / 2);
    box-sizing: border-box;
    padding: 0;
    display: grid;
    place-items: center start;
    border-bottom: 1px solid var(--beige);
}
.t585__title {
    padding-right: 50px;
}
.t585__content {
    position: relative;
    padding-top: 35px;
}
.t585__header:hover .t585__icon-hover {
    opacity: 0.4 !important;
}
.t585 .t-prefix_2 {
    padding: 0;
}
.t585 .t-col_8 {
    max-width: calc(6 * var(--cellWidth));
    width: calc(6 * var(--cellWidth));
    margin: 0;
}
/* .t585__header .t585__circle {
    background-color: var(--dimmedWhite) !important;
}
.t585__header:hover path {
    stroke: rgba(240, 239, 236, 1);
} */

@media screen and (max-width: 980px) {
    .t585__header {
        height: var(--cellHeight);
    }
}
@media screen and (max-width: 640px) {
    .t585 .t-col_8 {
        max-width: calc(4 * var(--cellWidth));
        width: calc(4 * var(--cellWidth));
        margin: 0 auto;
    }
    .t585__content {
        padding-top: 25px;
    }
}
@media screen and (max-width: 480px) {
    .t585 .t-col_8 {
        max-width: calc(2 * var(--cellWidth));
        width: calc(2 * var(--cellWidth));
    }
}