#curators {
    width: calc(6 * var(--cellWidth));
    margin: 0 auto;
    position: relative;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

#curators .content {
    display: flex;
    justify-content: start;
    overflow: hidden;
}
#curators .card {
    min-width: calc(2 * var(--cellWidth) - 0.1px);
    height: calc(3 * var(--cellHeight));
    border: 1px solid var(--beige);
    box-sizing: border-box;
    transition: transform .75s ease;
}
#curators .card:not(:last-child) {
    border-right: transparent;
}
#curators .person {
    min-width: calc(2 * var(--cellWidth));
    height: calc(2 * var(--cellHeight));
    border-bottom: 1px solid var(--beige);
}
#curators .card__info {
    height: var(--cellHeight);
    padding: 36px 39px;
    box-sizing: border-box;
}
#curators .card__info-name {
    margin: 0 0 14px 0;
}
#curators .card__info-desc {
    font-size: 16px;
    height: calc(100% - 20px);
    overflow: hidden;
    position: relative;
    user-select: none;
}
#curators .card__info-desc p {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .75s ease;
}
#curators .card__info-desc p:last-child {
    opacity: 0;
}
#curators .card:hover .card__info-desc.changable p:last-child {
    opacity: 1;
}
#curators .card:hover .card__info-desc.changable p:first-child {
    opacity: 0;
}

#curators .controls {
    width: 100%;
    position: absolute;
    top: 0;
}
#curators .controls__btn {
    position: absolute;
    top: var(--cellHeight);
    cursor: pointer;
    transition: opacity .25s ease;
}
#curators .controls__btn.hidden {
    opacity: 0;
    pointer-events: none;
}
#curators .controls .controls__left {
    left: 0;
    transform: translate(-50%, -50%) rotate(180deg);
}
#curators .controls .controls__right {
    right: 0;
    transform: translate(50%, -50%);
}
#curators .controls__tags {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: calc(-1 * var(--cellHeight) / 2.5);
}
#curators .controls__tag {
    font-weight: 500;
    opacity: 60%;
    cursor: pointer;
    transition: opacity .25s ease;
}
#curators .controls__tag.controls__curators {
    text-align: end;
    padding-right: 30px;
    box-sizing: border-box;
}
#curators .controls__tag.active {
    opacity: 100%;
}

.nodata {
    width: 100%;
    height: calc(1 * var(--cellHeight));
    display: grid;
    place-items: center;
    padding: 5%;
    box-sizing: border-box;
    border: 1px solid var(--beige);
    text-align: center;
    line-height: 1.45em;
}

@media screen and (max-width: 1200px) {
    #curators {
        height: calc(4 * var(--cellHeight));
    }
    #curators .card {
        height: calc(4 * var(--cellHeight));
    }
    #curators .card__info {
        padding: 24px 37px;
        height: calc(2 * var(--cellHeight));
    }
    #curators .card__info-name {
        margin-top: 22px;
        margin-bottom: 22px;
    }
    #curators .card__info-desc {
        font-size: 14px;
    }
    #curators .card__info-desc p {
        position: relative;
        opacity: 1;
    }
    #curators .card__info-desc p:first-child {
        position: relative;
        opacity: 1;
        margin-bottom: 20px;
    }
    #curators .card .card__info-desc.changable p:last-child {
        opacity: 1;
    }
    #curators .card:hover .card__info-desc.changable p:first-child {
        opacity: 1;
    }
}

@media screen and (max-width: 980px) {
    #curators {
        height: calc(6 * var(--cellHeight));
    }
    #curators .person {
        min-width: calc(2 * var(--cellWidth));
        height: calc(3 * var(--cellHeight));
    }
    #curators .card {
        min-width: calc(3 * var(--cellWidth) - 0.1px);
        height: calc(6 * var(--cellHeight));
    }
    #curators .card__info {
        padding: 34px 30px;
        height: calc(3 * var(--cellHeight));
    }
    #curators .card__info-name {
        margin-top: 0;
        margin-bottom: 20px;
    }
    #curators .card__info-desc {
        font-size: 16px;
    }
    #curators .card__info-desc p:first-child {
        margin-bottom: 16px;
    }
    #curators .controls__btn {
        top: calc(5 * var(--cellHeight) / 2);
    }
    .nodata {
        height: calc(2 * var(--cellHeight));
    }
}

@media screen and (max-width: 640px) {
    #curators {
        width: 100%;
    }
    #curators .content {
        width: calc(4 * var(--cellWidth));
        position: relative;
        left: calc(50vw - 2 * var(--cellWidth));
    }
    #curators .card__info {
        padding: 36px 40px;
    }
    .controls__btn {
        display: none;
    }
    .nodata {
        width: calc(4 * var(--cellWidth));
        margin: 0 auto;
    }
}
@media screen and (max-width: 480px) {
    #curators .controls__tag {
        width: calc(--cellWidth);
        font-size: 14px;
    }
    #curators .content {
        width: calc(2 * var(--cellWidth) + 1px);
        left: calc(50vw - var(--cellWidth));
    }
    #curators .card {
        min-width: calc(2 * var(--cellWidth));
        width: calc(2 * var(--cellWidth));
        height: calc(4 * var(--cellHeight));
    }
    #curators .person {
        min-width: calc(2 * var(--cellWidth) - 1px);
        width: calc(2 * var(--cellWidth) - 1px);
        height: calc(2 * var(--cellHeight));
    }
    #curators .card__info {
        padding: 23px 30px;
        width: calc(2 * var(--cellWidth));
        height: calc(2 * var(--cellHeight));
    }
    #curators .card__info-name {
        font-size: 16px;
        margin-top: 12px;
    }
    #curators .card__info-desc {
        font-size: 14px;
    }
    .nodata {
        width: calc(2 * var(--cellWidth));
    }
}