.nav-language {
    display: none !important;
}

.uc-schedule {
    position: relative;
    --width: calc(4 * var(--cellWidth));

    @media screen  and (max-width: 980px) {
        --width: calc(6 * var(--cellWidth));
    }
    @media screen  and (max-width: 640px) {
        --width: calc(4 * var(--cellWidth));
    }
    @media screen  and (max-width: 480px) {
        --width: 100vw;
    }

    .t431__table-wrapper {
        width: var(--width);
        min-width: auto !important;
    }
    .t431__wrapper-for-mobile {
        overflow-x: visible !important;
    }

    .t-container {
        --margin-side: calc((100% - var(--width)) / 2);
        width: var(--width);
        margin: 0 var(--margin-side);
    }
    .t-col {
        margin: 0;
        padding: 0;
    }

    tr {
        width: var(--width);
        display: flex;

        td {
            border-top-width: 0 !important;
        }
    }

    @media screen  and (max-width: 480px) {
        .t431__td {
            font-size: 14px !important;
            box-sizing: border-box;
            
            &:nth-child(1) {
                padding-right: 10px;
            }
            &:nth-child(3) {
                text-align: center;
            }
        }
        .t431__th {
            font-size: 12px !important;
            box-sizing: border-box;
            
            &:nth-child(2) {
                padding-right: 10px;
            }
        }
    }

    .t431__td,
    .t431__th {
        padding-right: 0;
        padding-left: 0;

        &:nth-child(1),
        &:nth-child(2) {
            width: calc(1.5 * var(--cellWidth)) !important;
        }
        &:nth-child(3) {
            width: var(--cellWidth) !important;
        }

        @media screen  and (max-width: 980px) {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                width: calc(2 * var(--cellWidth)) !important;
            }
        }

        @media screen  and (max-width: 640px) {
            &:nth-child(1),
            &:nth-child(2) {
                width: calc(1.5 * var(--cellWidth)) !important;
            }
            &:nth-child(3) {
                width: var(--cellWidth) !important;
            }
        }

        @media screen  and (max-width: 480px) {
            box-sizing: border-box;

            &:nth-child(1) {
                padding-left: 20px !important;
                width: 35% !important;
            }
            &:nth-child(2) {
                width: 35% !important;
            }
            &:nth-child(3) {
                width: 30% !important;
            }
        }
    }
}

.uc-schedule-wide {
    position: relative;
    --width: calc(6 * var(--cellWidth));

    @media screen  and (max-width: 980px) {
        --width: calc(6 * var(--cellWidth));
    }
    @media screen  and (max-width: 640px) {
        --width: calc(4 * var(--cellWidth));
    }
    @media screen  and (max-width: 480px) {
        --width: 100vw;
    }

    .t431__table-wrapper {
        width: var(--width);
        min-width: auto !important;
    }

    .t-container {
        --margin-side: calc((100% - var(--width)) / 2);
        width: var(--width);
        margin: 0 var(--margin-side);
    }
    .t-col {
        margin: 0;
        padding: 0;
    }

    tr {
        width: var(--width);
        display: flex;

        td {
            border-top-width: 0 !important;
        }
    }

    .t431__td,
    .t431__th {
        padding-right: 0;
        padding-left: 0;
        box-sizing: border-box;

        @media screen  and (min-width: 980px) {
            &:nth-child(1),
            &:nth-child(2) {
                width: var(--cellWidth) !important;
            }
            &:nth-child(3) {
                width: calc(2 * var(--cellWidth)) !important;
                padding-right: 3em;
            }
            &:nth-child(4),
            &:nth-child(5) {
                width: var(--cellWidth) !important;
            }
        }

        @media screen  and (max-width: 980px) {
            padding-right: 1em;
            flex-shrink: 0;
            min-width: min-content;

            &:nth-child(4) {
                width: calc(2 * var(--cellWidth)) !important;
            }
            &:nth-child(5) {
                white-space: break-all;
            }
        }

        @media screen  and (max-width: 640px) {
            &:nth-child(2) {
                width: calc(1.5 * var(--cellWidth)) !important;
            }
            &:nth-child(3) {
                width: calc(2 * var(--cellWidth)) !important;
            }
        }

        @media screen  and (max-width: 480px) {
            box-sizing: border-box;

            &:nth-child(1) {
                padding-left: 20px !important;
                width: calc(1.5 * var(--cellWidth)) !important;
            }
            &:nth-child(2),
            &:nth-child(4) {
                width: calc(1.5 * var(--cellWidth)) !important;
            }
        }
    }

    @media screen  and (max-width: 480px) {
        .t431__td {
            font-size: 14px !important;
        }
        .t431__th {
            font-size: 12px !important;
        }
    }
}

.uc-study-hours {
    position: relative;

    @media screen  and (max-width: 480px) {
        .t431__td {
            font-size: 14px !important;
        }
        .t431__th {
            font-size: 12px !important;
        }
    }
}