:root {
    --arrowUrl: url(https://static.tildacdn.com/tild6139-3266-4432-b932-393964333139/arrow.png);
    --firstPopupCuratorUrl: url(https://static.tildacdn.com/tild3633-6430-4165-b736-323430396533/1.png);
    --firstPopupArticleUrl: url(https://static.tildacdn.com/tild3236-3064-4932-a464-363361313162/2.png);
}

body.popup-opened {
    overflow-y: hidden;

    .balt-nav {
        opacity: 0;
        pointer-events: none;
    }
}

.popup {
    --gestaltBlue: #3474D1;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    color: var(--gray);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    overflow: auto;
    padding: calc(var(--cellWidth) / 2) 0;
    box-sizing: border-box;
    transition: opacity var(--animTime) ease;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(10px);

    @supports not (backdrop-filter: blur(10px)) {
        background-color: rgba(147, 175, 217, 0,6);
    }

    &.opened {
        opacity: 1;
        pointer-events: auto;

        .container {
            transform: translateX(0);
        }
    }

    &[data-modules="opened"] {
        .modules {
            height: 200px !important;
        }
        .modules__mobile {
            height: 240px !important;
            
            @media screen and (max-width: 980px) {
                height: 290px !important;
            }
            @media screen and (max-width: 640px) {
                height: 320px !important;
            }
        }
        .module-trigger svg {
            transform: rotate(90deg);
        }
    }

    @for $i from 1 through 4 {
        &[data-block="#{$i}"] {
            .triggers .trigger:nth-child(#{$i}) {
                color: var(--blue);

                &::after {
                    opacity: 1 !important;
                }
            }
            .block:nth-child(#{$i}) {
                .info {
                    display: block !important;
                }

                .trigger.mobile {
                    color: var(--blue);
    
                    &::after {
                        transform: translateY(25%) rotate(45deg) !important;
                    }
                }
            }
        }
    }

    .split {
        display: grid;
        grid-template-columns: calc(100% - 600px) 600px;

        @media screen and (max-width: 1200px) {
            grid-template-columns: calc(100% - 472px) 472px;
        }

        @media screen and (max-width: 980px) {
            grid-template-columns: 100%;
        }
    }

    .container {
        width: calc(6 * var(--cellWidth));
        margin: 0 auto;
        background-color: var(--beige);
        padding: 60px 75px;
        box-sizing: border-box;
        position: relative;
        transform: translateX(-100px);
        transition: transform var(--animTime) ease;

        @media screen and (max-width: 980px) {
            padding: 45px 38px;
        }
        @media screen and (max-width: 640px) {
            width: calc(4 * var(--cellWidth));
        }
        @media screen and (max-width: 480px) {
            width: calc(2 * var(--cellWidth));
        }
        @media screen and (max-width: 480px) {
            padding: 38px 25px;
        }

        .close {
            position: absolute;
            top: 35px;
            right: 35px;
            cursor: pointer;

            @media screen and (max-width: 980px) {
                top: 28px;
                right: 28px;
            }
            @media screen and (max-width: 640px) {
                top: 25px;
                right: 25px;
            }
            @media screen and (max-width: 480px) {
                top: 22px;
                right: 22px;
            }
        }

        .desc {
            .short {
                margin-bottom: 50px;

                @media screen and (max-width: 1200px) {
                    margin-bottom: 15px;
                }
                @media screen and (max-width: 980px) {
                    display: flex;
                    flex-flow: column;
                }

                .popup__title {
                    font-size: 64px;
                    font-weight: 400;
                    line-height: 100%;
                    margin: 0;
                    letter-spacing: -0.035em;

                    @media screen and (max-width: 1200px) {
                        font-size: 48px;
                        width: 320px;
                    }
                    @media screen and (max-width: 980px) {
                        width: 100%;
                        font-size: 36px;
                        margin-bottom: 22px;
                    }
                    @media screen and (max-width: 640px) {
                        font-size: 32px;
                    }
                }

                .stats {
                    display: flex;
                    flex-flow: column;
                    margin-left: 99px;
                    height: 85%;
                    position: relative;
                    top: 10%;

                    @media screen and (max-width: 1200px) {
                        margin-left: 40px;
                    }
                    @media screen and (max-width: 980px) {
                        flex-flow: row;
                        margin-left: 0;
                    }

                    .stat {
                        font-size: 16px;

                        &:first-child {
                            margin-bottom: auto;

                            @media screen and (max-width: 980px) {
                                width: 165px;
                            }
                        }
                        
                        p {
                            &:nth-child(2) {
                                color: var(--gray3);
                                font-size: 14px;
                                margin-top: 2px;

                                @media screen and (max-width: 1200px) {
                                    margin-top: 0;
                                }
                                @media screen and (max-width: 980px) {
                                    margin-top: 2px;
                                }
                            }
                        }

                        .module-trigger {
                            cursor: pointer;
                        }

                        @media screen and (max-width: 980px) {
                            font-size: 14px;
                        }
                        @media screen and (max-width: 640px) {
                            width: 50% !important;
                        }
                    }

                    .module-trigger svg {
                        position: relative;
                        top: 2px;
                        left: 2px;
                        transition: transform var(--animTime) ease;
                    }
                }
            }

            .modules {
                height: 0;
                overflow: hidden;
                transition: height var(--animTime) ease;
            }

            .modules__desktop {
                .modules__cont {
                    margin-bottom: 40px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    > div {
                        width: calc(20% - 4px);
                    }

                    &.bars {
                        height: 35px;
                        margin-bottom: 13px;

                        @for $i from 1 through 5 {
                            .bar:nth-child(#{$i}) {
                                height: ($i * 20%);
                                opacity: (20 + $i * 10%);
                                background-color: var(--gestaltBlue);
                            }
                        }
                    }

                    &.descriptions {
                        align-items: flex-start;

                        > div {
                            display: flex;
                            flex-flow: column;
                            align-content: center;

                            > p {
                                text-align: center;
                                font-size: 14px;
                                line-height: 125%;
                                font-weight: 500;

                                &:first-child {
                                    text-transform: uppercase;
                                    color: var(--brown);
                                    font-weight: 700;
                                    margin-bottom: 7px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                @media screen and (max-width: 1200px) {
                    display: none;
                }
            }

            .modules__mobile {
                margin-bottom: 40px;

                ol {
                    grid-column: 2/3;
                    font-size: 14px;
                    display: flex;
                    flex-flow: column;
                    flex-wrap: wrap;
                    height: 240px;
                    counter-reset: list-counter;
                    list-style-type: none;
                    padding: 0;
                    padding-left: 0 !important;
                    margin: 0;
    
                    li {
                        max-width: 50%;
                        counter-increment: list-counter;
                        position: relative;
                        padding-left: 40px;
                        box-sizing: border-box;
                        font-weight: 500;
                        line-height: 125%;
                        
                        &:not(:nth-child(3)) {
                            margin-bottom: 30px;
                        }

                        p {
                            &:first-child {
                                color: var(--orange);
                                text-transform: uppercase;
                                margin-bottom: 10px;
                                font-size: 12px;
                                font-weight: 700;
            
                                @media screen and (max-width: 980px) {
                                    margin-bottom: 5px;
                                }
                            }
                        }
    
                        &::before {
                            content: counter(list-counter);
                            position: absolute;
                            left: 0;
                            color: var(--orange);
                        }

                        &:last-child {
                            justify-self: start;
                        }
            
                        @media screen and (max-width: 980px) {
                            margin-bottom: 15px !important;
                            max-width: none;
                        }
                    }
            
                    @media screen and (max-width: 980px) {
                        flex-wrap: nowrap;
                        grid-column: 1/2;
                        margin-left: 120px;
                    }
                    @media screen and (max-width: 640px) {
                        margin-left: 20px;
                    }
                    @media screen and (max-width: 480px) {
                        margin-left: 0;

                        li {
                            padding-left: 0;

                            &::before {
                                display: none;
                            }
                        }
                    }
                }

                @media screen and (min-width: 1200px) {
                    display: none;
                }
            }
        }

        .content {
            .triggers {
                width: calc(2  * var(--cellWidth));
                font-weight: 600;
                color: var(--gray);

                .trigger {
                    margin-bottom: 14px;
                    cursor: pointer;
                    transition: color var(--animTime) ease;

                    @media screen and (max-width: 1200px) {
                        font-size: 16px;
                    }
                }

                &.desktop {
                    .trigger {
                        display: flex;
                        align-content: center;

                        &::after {
                            content: '';
                            display: block;
                            width: 30px;
                            height: 15px;
                            background-image: var(--arrowUrl);
                            transform: translate(50%, 25%);
                            opacity: 0;
                            transition: opacity var(--animTime) ease;
                        }
                    }

                    @media screen and (max-width: 980px) {
                        display: none;
                    }
                }
            }

            .blocks {
                width: 100%;

                .block {
                    .info {
                        @media screen and (max-width: 980px) {
                            margin-bottom: 50px;
                        }
    
                        display: none;
    
                        &.table {
                            position: relative;

                            .caption {
                                width: 100%;
                                position: absolute;
                                display: flex;
                                justify-content: flex-end;
                                font-size: 12px;
                                font-weight: 500;
                                color: var(--gray3);
                                transform: translateY(-140%);

                                p {
                                    &:last-child {
                                        margin-left: 75px;

                                        @media screen and (max-width: 1200px) {
                                            margin-left: 35px;
                                        }
                                        @media screen and (max-width: 980px) {
                                            margin-left: 52px;
                                        }
                                        @media screen and (max-width: 640px) {
                                            margin-left: 25px;
                                        }
                                    }
                                }

                                @media screen and (max-width: 480px) {
                                    display: none;
                                }
                            }

                            ol {
                                padding-left: 0 !important;
                                margin: 0;
                                counter-reset: list-counter;
                            }
                            li {
                                @media screen and (max-width: 480px) {
                                    flex-wrap: wrap;
                                }

                                counter-increment: list-counter;
                                position: relative;
                                display: flex;
                                padding: 6px 0 20px 94px;
                                border-top: 1px solid var(--gray3);
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 125%;

                                @media screen and (max-width: 1200px) {
                                    padding-left: 40px;
                                }
                                @media screen and (max-width: 980px) {
                                    padding-left: 60px;
                                }
                                @media screen and (max-width: 640px) {
                                    padding-left: 30px;
                                    padding-bottom: 30px;
                                }
    
                                p {
                                    &:first-child {
                                        width: 300px;

                                        @media screen and (max-width: 1200px) {
                                            width: 267px;
                                        }
                                        @media screen and (max-width: 980px) {
                                            width: 280px;
                                            margin-right: 20px;
                                        }
                                        @media screen and (max-width: 640px) {
                                            width: 180px;
                                            margin-right: 20px;
                                        }
                                        @media screen and (max-width: 480px) {
                                            flex-grow: 1;
                                            margin-right: 0;
                                            margin-bottom: 10px;
                                        }
                                    }

                                    &:nth-child(2):not(:empty) {
                                        margin-right: 50px;
                                    }

                                    &:last-child {
                                        margin-left: auto;
    
                                        @media screen and (max-width: 480px) {
                                            margin-left: 0;
                                        }
                                    }

                                    span:last-child:not(:first-child) {
                                        display: none;
                                        font-size: 11px;
                                        color: var(--gray3);
    
                                        @media screen and (max-width: 480px) {
                                            display: block;
                                        }
                                    }
                                }
    
                                &:before {
                                    content: counter(list-counter);
                                    position: absolute;
                                    left: 0;
                                }
                            }
                        }
                    }

                    .trigger.mobile {
                        display: none;
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 15px;
                        cursor: pointer;

                        &::after {
                            content: '';
                            display: block;
                            width: 12px;
                            height: 12px;
                            box-sizing: border-box;
                            border: 2px solid var(--blue);
                            border-left-color: transparent;
                            border-top-color: transparent;
                            transform: translateY(25%) rotate(-45deg);
                            margin-left: 25px;
                        }

                        @media screen and (max-width: 980px) {
                            display: flex;
                        }
                        @media screen and (max-width: 640px) {
                            margin-bottom: 25px;
                        }
                    }

                    .subinfo {
                        font-size: 12px;
                        font-weight: 500;
                        color: var(--brown);
                        margin-top: 20px;
                        line-height: 145%;

                        @media screen and (max-width: 1200px) {
                            font-size: 12px;
                        }
                    }
                }

                .curator {
                    padding-left: calc(var(--cellWidth) / 2);

                    .name {
                        font-weight: 600;
                        margin: 19px 0 10px 0;
                    }
                    .desc {
                        font-size: 16px;
                        font-weight: 500;
                        max-width: calc(2 * var(--cellWidth));
                        line-height: 145%;
                    }

                    @media screen and (max-width: 980px) {
                        padding-left: 0;
                        display: flex;

                        img {
                            width: 116px;
                            height: 116px;
                        }

                        &__info {
                            width: 100%;
                            margin-bottom: 0;
                            margin-left: 35px;
                            display: flex;
                            flex-flow: column;
                            justify-content: space-between;

                            .name {
                                margin-top: 0;
                                font-size: 14px;
                            }
                            .desc {
                                max-width: none;
                                font-size: 14px;
                                max-width: calc(3 * var(--cellWidth));
                            }
                        }
                    }

                    @media screen and (max-width: 640px) {
                        flex-flow: column;

                        img {
                            width: 90px;
                            height: 90px;
                        }

                        &__info {
                            margin-left: 0;
                            margin-top: 20px;
                        }
                    }
                }

                .article {
                    padding-left: calc(var(--cellWidth) / 2);

                    @media screen and (max-width: 980px) {
                        padding-left: 0;
                    }

                    .desc {
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 30px;
                        line-height: 145%;
                    }

                    .success {
                        display: flex;
                        margin-top: 30px;

                        p {
                            color: var(--gray);
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-right: 12px;
                        }
                    }

                    img {
                        @media screen and (max-width: 1200px) {
                            max-width: calc(5 * var(--cellWidth) / 2);
                        }
                        @media screen and (max-width: 640px) {
                            max-width: calc(3 * var(--cellWidth));
                        }
                        @media screen and (max-width: 480px) {
                            max-width: calc(3 * var(--cellWidth) / 2);
                        }
                    }

                }
            }
        }
    }

    &.specialty {
        &[data-modules="opened"] {
            .modules__desktop {
                height: 140px !important;
            }
            .modules__mobile {
                height: 60px !important;
                
                @media screen and (max-width: 980px) {
                    height: 120px !important;
                }
                @media screen and (max-width: 640px) {
                    height: 120px !important;
                }
                @media screen and (max-width: 480px) {
                    height: 120px !important;
                }
            }
        }

        .desc {
            .short {
                margin-bottom: 30px;

                .specialty {
                    font-size: 12px;
                    text-transform: uppercase;
                    color: rgba(162, 162, 162, 1);
                    margin: 0 auto;
                    margin-bottom: 10px;
                    text-align: center;
                }

                .popup__title {
                    display: flex;
                    flex-flow: column;
                    margin-bottom: 25px !important;
    
                    @media screen and (max-width: 1200px) {
                        width: 100% !important;
                    }
                    @media screen and (max-width: 480px) {
                        font-size: 30px;
                    }
        
                    span:nth-child(1) {
                        margin-left: 50px;

                        @media screen and (max-width: 640px) {
                            margin-left: 0;
                        }
                    }
                    span:nth-child(2) {
                        margin-left: 500px;
    
                        @media screen and (max-width: 1200px) {
                            margin-left: 360px;
                        }
                        @media screen and (max-width: 980px) {
                            margin-left: 260px;
                        }
                        @media screen and (max-width: 640px) {
                            margin-left: 120px;
                        }
                        @media screen and (max-width: 480px) {
                            margin-left: 0;
                        }
                    }
                }
                .stats {
                    flex-flow: row !important;
                    margin-left: 50% !important;
        
                    .stat:first-child {
                        margin-right: 100px;
    
                        @media screen and (max-width: 1200px) {
                            margin-right: 130px;
                        }
                        @media screen and (max-width: 980px) {
                            margin-right: 20px;
                        }
                    }
                    @media screen and (max-width: 1200px) {
                        margin-left: 360px !important;
                    }
                    @media screen and (max-width: 980px) {
                        margin-left: 260px !important;
                    }
                    @media screen and (max-width: 640px) {
                        margin-left: 120px !important;
                    }
                    @media screen and (max-width: 480px) {
                        margin-left: 0 !important;
                    }
                }
            }
            .modules__mobile {
                margin-bottom: 20px;

                ol {
                    flex-flow: row !important;
                    justify-content: space-between;

                    @media screen and (max-width: 980px) {
                        flex-flow: column !important;
                        margin-left: 220px;
                        height: 120px;
                    }
                    @media screen and (max-width: 640px) {
                        margin-left: 80px !important;
                    }
                    @media screen and (max-width: 480px) {
                        margin-left: 0 !important;
                    }
                }
            }
            .modules__desktop {
                .modules__cont {
                    > div {
                        width: calc(50% - 4px);
                    }
                    &.bars {
                        height: 10px !important;
                        .bar {
                            height: 100% !important;
                            background-color: var(--orange) !important;

                            &:first-child {
                                opacity: .5 !important;
                            }
                            &:last-child {
                                opacity: 1 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}