:root {
    --cellWidth: 193px;
    --cellHeight: 200px;
    --white: #fff;
    --dimmedWhite: rgba(255, 255, 255, 0.15);
    --beige: #F0EFEC;
    --blue: #7F95D1;
    --lightGray: #F2F2F2;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}

@media screen and (max-width: 1200) {
    :root {
        --cellWidth: 157px;
        --cellHeight: 163px;
    }
}
@media screen and (max-width: 980) {
    :root {
        --cellWidth: 103px;
        --cellHeight: 107px;
    }
}
@media screen and (max-width: 640) {
    :root {
        --cellWidth: 115px;
        --cellHeight: 119px;
    }
}
@media screen and (max-width: 480) {
    :root {
        --cellWidth: 150px;
        --cellHeight: 155px;
    }
}