:root {
    --cellWidth: 193px;
    --cellHeight: 200px;
    --white: #fff;
    --dimmedWhite: rgba(255, 255, 255, 0.15);
    --beige: #F0EFEC;
    --blue: #7F95D1;
    --lightGray: #F2F2F2;
    --gray: #4f4f4f;
    --gray3: #828282;
    --brown: #A2A2A2;
    --orange: #FF8552;

    --animTime: .4s;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}
input, textarea {
    font-family: 'Inter', sans-serif !important;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder
::placeholder {
    color: var(--white);
}

@media screen and (max-width: 1200px) {
    :root {
        --cellWidth: 157px;
        --cellHeight: 163px;
    }
}
@media screen and (max-width: 980px) {
    :root {
        --cellWidth: 103px;
        --cellHeight: 107px;
    }
}
@media screen and (max-width: 640px) {
    :root {
        --cellWidth: 115px;
        --cellHeight: 119px;
    }
}
@media screen and (max-width: 480px) {
    :root {
        --cellWidth: 150px;
        --cellHeight: 155px;
    }
}