[class*="literature-course-"] {
    opacity: 0.6 !important;
    transition: opacity .25s ease;
    cursor: pointer;

    &:hover {
        opacity: 0.8 !important;
    }

    &.active {
        opacity: 1 !important;
        pointer-events: none;
    }
}
[class*="uc-lit-"] {
    display: none;

    &.shown {
        display: block;
    }
}