a {
    text-decoration: none !important;
    color: white !important;
}

.balt-nav {
    width: 100%;
    height: 86px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    backdrop-filter: blur(10px);
    border: 0px solid var(--beige);
    border-bottom-width: 1px;
    z-index: 9999;
}
@supports not (backdrop-filter: blur(10px)) {
    .balt-nav {
        background-color: rgba(147, 175, 217, 0,6);
    }
}
.nav-container {
    width: calc(6 * var(--cellWidth));
    height: 100%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: 267px 119px 119px 119px auto;
}
.nav-content,
.nav-dropdown {
    width: 100%;
    height: 52px;
}
[data-opened="locations"] .nav-locations .nav-dropdown__container {
    transform: translateY(0);
}
[data-opened="locations"] .nav-locations {
    pointer-events: auto;
}
[data-opened="languages"] .nav-languages .nav-dropdown__container {
    transform: translateY(0);
}
[data-opened="languages"] .nav-languages {
    pointer-events: auto;
}
.nav-content {
    height: 100%;
    position: relative;
    z-index: 2;
}
.nav-dropdown {
    position: absolute;
    top: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 9998;
}
.nav-dropdown__container {
    height: 100%;
    transform: translateY(-100%);
    transition: transform .25s ease;
    background-color: #bdcde766;
    /* border-top: 1px solid #F0EFEC; */
}
.nav-logo p {
    margin: 0;
    font-weight: 600;
}
.nav-menu {
    grid-column: 5/6;
    place-self: center end;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-menu__text {
    font-size: 16px;
    margin-right: 16px;
}
.nav-menu__icon {
    width: 16px;
    height: 8px;
    position: relative;
}
.nav-menu__icon span {
    width: 70%;
    height: 1px;
    border-radius: 0.5px;
    background-color: white;
    position: absolute;
    right: 0;
    transition: .4s ease;
}
.nav-menu__icon span:nth-child(1) {
    width: 100%;
    top: 0%;
}
.nav-menu__icon span:nth-child(2) {
    top: 50%;
}
.nav-menu__icon span:nth-child(3) {
    top: 100%;
}
[data-menu="opened"] .nav-menu__icon span {
    height: 2px
}
[data-menu="opened"] .nav-menu__icon span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
}
[data-menu="opened"] .nav-menu__icon span:nth-child(2) {
    width: 0;
    opacity: 0;
}
[data-menu="opened"] .nav-menu__icon span:nth-child(3) {
    top: 50%;
    width: 100%;
    transform: rotate(45deg);
}

.nav-selection {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-dropdown-icon {
	position: relative;
	background-color: white;
	text-align: left;
    margin-left: 10px;
    top: 1px;
}
.nav-dropdown-icon:before,
.nav-dropdown-icon:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.nav-dropdown-icon,
.nav-dropdown-icon:before,
.nav-dropdown-icon:after {
	width:  6px;
	height: 6px;
	border-top-right-radius: 50%;
}
.nav-dropdown-icon {
	transform: rotate(120deg) skewX(-30deg) scale(1,.866);
    transition: transform .25s ease;
}
.nav-dropdown-icon:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.nav-dropdown-icon:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
.nav-dropdown-icon {
    transform: rotate(120deg) skewX(-30deg) scale(1,.866);
}
[data-opened="languages"] .nav-language .nav-dropdown-icon {
    transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
[data-opened="locations"] .nav-location .nav-dropdown-icon {
    transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}

.nav-dropdown__toggler {
    cursor: pointer;
    transition: font-weight .25s ease;
}

[data-language="ru"] .nav-languages__ru,
[data-language="en"] .nav-languages__en,
[data-language="lv"] .nav-languages__lv,
[data-language="es"] .nav-languages__es,
[data-location="es"] .nav-locations__es,
[data-location="lt"] .nav-locations__lt,
[data-location="lv"] .nav-locations__lv {
    font-weight: 600;
    pointer-events: none;
}

.mobile-select__container {
    display: none;
}

@media screen and (max-width: 1200px) {
    .nav-container {
        grid-template-columns: calc(2 * var(--cellWidth)) 100px 100px 100px auto;
    }
}
@media screen and (max-width: 960px) {
    .nav-container {
        grid-template-columns: calc(2 * var(--cellWidth)) var(--cellWidth) var(--cellWidth) var(--cellWidth) auto;
    }
    .nav-dropdown__title {
        max-width: calc(3 * var(--cellWidth) / 2);
    }
}
@media screen and (max-width: 640px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 24px);
        min-width: calc(2 * var(--cellWidth));
        margin: 0 12px;
        box-sizing: border-box;
    }
    .nav-selection,
    .nav-dropdown {
        display: none;
    }

    .mobile-select__container {
        position: fixed;
        bottom: 3vh;
        left: 12px;
        width: calc(100% - 24px);
        display: flex;
        justify-content: space-between;
        opacity: 0;
        pointer-events: none;
        transition: opacity .4s ease;
    }
    [data-menu="opened"] .mobile-select__container {
        opacity: 1;
        pointer-events: auto;
    }
    .mobile-select {
        width: 50%;
    }
    .mobile-select select {
        background-color: transparent;
        border: none;
        color: var(--white);
        font-size: 18px;
        font-weight: 500;
    }
}

.my-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-10%);
    transition: .4s ease;
}
.my-menu.opened {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}
.menu-opened {
    overflow-y: hidden;
}
@media screen and (min-width: 980px) {
    .menu-opened {
        padding-right: 17px;
    }
    .menu-opened .nav-container {
        padding-right: 17px;
    }
}
#allrecords > [id^=rec],
#grid {
    transition: opacity .4s ease;
}
.menu-opened #allrecords > [id^=rec],
.menu-opened #grid {
    opacity: 0;
}

.nav-languages__es,
.nav-languages__en,
.nav-languages__lv {
    position: relative;
}
.nav-languages__es::after,
.nav-languages__en::after,
.nav-languages__lv::after {
    content: '';
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -20px);
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
    transition: opacity .4s ease;
}
.nav-languages__es::after {
    content: 'Eesti keel pole veel saadaval, lisame esimesel võimalusel';
}
.nav-languages__en::after {
    content: 'English is unavailable for now, we will add it as soon as possible';
}
.nav-languages__lv::after {
    content: 'Latviešu valoda vēl nav pieejama, pievienosim pēc iespējas ātrāk';
}
.nav-languages__es:hover::after,
.nav-languages__en:hover::after,
.nav-languages__lv:hover::after {
    opacity: 1;
}