#feed {
    width: calc(6 * var(--cellWidth));
    position: relative;
    left: -1px;
    z-index: 9;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    margin: 0 auto var(--cellHeight) auto;
}
#feed .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.post {
    width: calc(var(--cellWidth) * 2);
    height: calc(var(--cellHeight) * 2);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 36px 38px;
    padding-right: 25px;
    box-sizing: border-box;
    border: 1px solid var(--white);
    font-weight: 500;
    line-height: 145%;
    letter-spacing: -0.025em;
    transition: background-color var(--animTime) ease;
}
.post:not(:last-child):not(:nth-child(3n)) {
    border-right: transparent;
}
.date {
    color: var(--beige);
    font-size: 18px;
}
.time {
    color: var(--lightGray);
    font-size: 14px;
    min-height: 1em;
}
.post__content {
    margin-bottom: auto;
}
.title {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}
.description {
    color: var(--white);
    font-size: 16px;
}
.post__seemore a {
    color: var(--beige) !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.025em;
    transition: margin var(--animTime) ease;
}

#feed .controls {
    width: 100%;
    position: absolute;
    top: 0;
}
#feed .controls__tags {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: calc(-1 * var(--cellHeight) / 2);
    transform: translateY(-50%);
}
#feed .controls__tag {
    width: 50%;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Manrope', 'Inter', sans-serif;
    text-align: center;
    background-color: var(--dimmedWhite);
    line-height: 4em;
    border-bottom: 1px solid transparent;
    transition: var(--animTime) ease;
}
#feed .controls__tag.active {
    font-weight: 600;
    border-bottom: 1px solid var(--white);
}
#feed .search {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc(-100% - var(--cellHeight)));
    z-index: 20;
}
#feed .search input {
    width: calc(2 * var(--cellWidth));
    font-size: 16px;
    line-height: 2rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: var(--white);
    box-sizing: border-box;
    color: var(--white);
}
#feed .search input::placeholder {
    color: var(--white);
    opacity: 0.55;
}
#feed .search input:focus {
    outline: none;
}
#feed .search svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#feed .search__results {
    position: absolute;
    width: 100%;
    background-color: var(--lightGray);
    font-size: 16px;
}
#feed .search__result {
    padding: 6px 8px;
    color: var(--blue);
    transition: background-color .25s ease;
}
#feed .search__icon {
    cursor: pointer;
}

#feed .more {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    height: 52px;
    display: grid;
    place-items: center;
    background-color: var(--lightGray);
    color: var(--blue);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .4s ease;
}

.nodata {
    width: 100%;
    height: calc(1 * var(--cellHeight));
    display: grid;
    place-items: center;
    padding: 5%;
    box-sizing: border-box;
    border: 1px solid var(--beige);
    text-align: center;
    line-height: 1.45em;
}

@media (hover: hover) {
    .post:hover {
        background-color: var(--dimmedWhite);
    }
    .post:hover .post__seemore a {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1200px) {
    #feed .content > a {
        pointer-events: none;
    }
    #feed .post__seemore a {
        pointer-events: auto;
    }
    #feed .post {
        height: calc(var(--cellHeight) * 3);
    }
    #feed .search input {
        width: calc(3 * var(--cellWidth));
    }
}
@media screen and (max-width: 980px) {
    #feed {
        width: calc(var(--cellWidth) * 6);
        flex-wrap: wrap;
    }
    .post {
        width: calc(var(--cellWidth) * 3);
        height: calc(var(--cellHeight) * 4);
    }
    .post:nth-child(2n) {
        border-right: 1px solid var(--white) !important;
    }
    .nodata {
        height: calc(2 * var(--cellHeight));
    }
}
@media screen and (max-width: 640px) {
    #feed {
        width: calc(var(--cellWidth) * 4);
    }
    .post {
        width: calc(var(--cellWidth) * 4);
        height: calc(var(--cellHeight) * 3);
    }
    .post {
        border-right: 1px solid var(--white) !important;
    }
    .nodata {
        width: calc(4 * var(--cellWidth));
        margin: 0 auto;
    }
}
@media screen and (max-width: 480px) {
    #feed {
        width: calc(100% - 20px)
    }
    .post {
        width: 100%;
        height: calc(var(--cellHeight) * 3);
    }
    #feed .controls__tags {
        flex-flow: column;
    }
    #feed .controls__tag {
        width: 100%;
    }
    #feed .controls__tag:first-child {
        margin-bottom: 8px;
    }
    #feed .search {
        width: 100%;
    }
    #feed .search input {
        width: 100%;
    }
    .nodata {
        width: 100%;
    }
}