#blog {
    width: calc(6 * var(--cellWidth));
    margin: 0 auto;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

#blog .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
#blog .card {
    position: relative;
    width: calc(2 * var(--cellWidth));
    height: calc(2 * var(--cellHeight));
    border: 1px solid #F0EFEC;
    box-sizing: border-box;
    padding: 22px 27px;
    color: var(--white);
}
#blog .card__category {
    position: absolute;
    top: 42px;
    right: 45px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
#blog .card__image {
    min-width: 100%;
    height: 200px;
    background-size: cover;
}
#blog .card__info {
    min-height: calc(2* var(--cellHeight) / 3);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#blog .card__info-title {
    font-weight: 500;
    margin: 29px 0 14px 0;
}
#blog .card__info-desc {
    width: 100%;
    display: flex;
    font-size: 15px;
    color: var(--lightGray);
    overflow: hidden;
    margin-top: auto;
}
#blog .card__info-desc__date {
    width: calc(var(--cellWidth) - 27px);
}
#blog .card__info-desc__time svg {
    margin-right: 8px;
}

#blog .more {
    width: 100%;
    height: 52px;
    display: grid;
    place-items: center;
    background-color: var(--beige);
    color: var(--blue);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

#blog .controls-panel {
    width: 100%;
    height: var(--cellHeight);
    position: relative;
    display: flex;
    align-items: center;
    color: var(--white);
}
#blog .search {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    z-index: 20;
}
#blog .search input {
    width: calc(2 * var(--cellWidth));
    font-size: 16px;
    line-height: 2rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: var(--white);
    box-sizing: border-box;
    color: var(--white);
}
#blog .search input:focus {
    outline: none;
}
#blog .search svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#blog .controls {
    display: flex;
    background-color: var(--dimmedWhite);
    font-size: 16px;
}
#blog .selection {
    width: var(--cellWidth);
    position: relative;
    z-index: 9;
}
#blog .selection__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    transition: transform .25s ease;
    pointer-events: none;
}
#blog .selection__result,
#blog .selection__option {
    display: grid;
    place-items: center left;
    padding-left: 27px;
    box-sizing: border-box;
    height: 62px;
    width: var(--cellWidth);
    background-color: var(--beige);
    color: var(--blue);
    cursor: pointer;
    transition: background-color .25s ease;
}
#blog .selection__option:hover {
    background-color: var(--white);
}
#blog .selection__options {
    position: absolute;
    transition: opacity .25s ease;
}
#blog .selection:not(.opened) .selection__options {
    opacity: 0;
    pointer-events: none;
}
#blog .selection.opened .selection__icon {
    transform: translate(0, -50%) rotate(180deg);
}
#blog .search__results {
    position: absolute;
    width: 100%;
    background-color: var(--beige);
    font-size: 16px;
}
#blog .search__result {
    padding: 6px 8px;
    color: var(--blue);
    transition: background-color .25s ease;
}
#blog .search__result:hover {
    background-color: var(--white);
}
#blog .tabs {
    display: flex;
    width: calc(4 * var(--cellWidth));
    overflow: hidden;
    position: relative;
}
#blog .tab {
    display: grid;
    place-items: center;
    height: 62px;
    min-width: var(--cellWidth);
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    transition: border-color .25s ease, background-color .25s ease, transform .5s ease;
}
#blog .tab.selected {
    border-bottom-color: var(--white);
}
#blog .tab:hover {
    background-color: var(--dimmedWhite);
}
#blog .tabs__shift-icon {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .25s ease;
}
#blog .tabs__shift-icon:hover {
    background-color: var(--dimmedWhite);
}
#blog .tabs__shift-icon.left {
    left: 5px;
    transform: translateY(-50%) rotate(180deg);
}
#blog .tabs__shift-icon.right {
    right: 5px;
    transform: translateY(-50%);
}
#blog .selection.filters {
    display: none;
}

#blog .posts-not-found {
    width: 100%;
    height: var(--cellHeight);
    display: grid;
    place-items: center;
    color: var(--white);
    border: 1px solid var(--white);
}

.card__read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    place-items: center;
    height: 52px;
    background-color: var(--dimmedWhite);
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
    border-top: 2px solid var(--beige)
}

@media screen and (max-width: 1200px) {
    #blog .card {
        height: calc(3 * var(--cellHeight));
        padding: 21px 16px;
    }
    #blog .card__image {
        height: 225px;
    }
    .card__read-more {
        display: grid;
    }
    #blog .card__info-desc__date {
        width: var(--cellWidth);
    }
    #blog .card__category {
        position: relative;
        top: 24px;
        left: 0;
    }
    #blog .card__info-title {
        margin-top: 35px;
    }
    #blog .selection__result {
        padding-left: 16px;
    }
    #blog .selection__icon {
        right: 16px;
    }
    #blog .search input {
        width: calc(3 * var(--cellWidth));
    }
}
@media screen and (max-width: 980px) {
    #blog .card {
        width: calc(3 * var(--cellWidth));
        height: calc(4 * var(--cellHeight));
        padding: 21px 14px;
    }
    #blog .card__image {
        height: 169px;
    }
    #blog .card__info-desc__date {
        width: calc(3 * var(--cellWidth) / 2);
    }
    #blog .controls {
        background-color: transparent;
    }
    #blog .selection.filters {
        display: block;
    }
    #blog .tabs__all,
    #blog .tabs {
        display: none;
    }
    #blog .selection {
        width: calc(3 * var(--cellWidth));
        background-color: transparent;
        border: 1px solid var(--lightGray);
        box-sizing: border-box;
    }
    #blog .selection__result {
        background-color: transparent;
        color: var(--white);
        height: 52px;
    }
    #blog .selection__result,
    #blog .selection__options,
    #blog .selection__option {
        width: 100%;
    }
    #blog .selection__icon path {
        stroke: var(--lightGray);
    }
    #blog .search input {
        font-size: 14px;
    }
}
@media screen and (max-width: 640px) {
    #blog {
        width: calc(4 * var(--cellWidth));
    }
    #blog .card {
        width: calc(4 * var(--cellWidth));
        padding: 25px;
    }
    #blog .card__image {
        height: 229px;
    }
    #blog .card__info-desc__date {
        width: calc(2 * var(--cellWidth));
    }
    #blog .selection {
        width: calc(2 * var(--cellWidth));
    }
    #blog .search input {
        width: calc(4 * var(--cellWidth));
    }
}
@media screen and (max-width: 480px) {
    #blog {
        width: calc(2 * var(--cellWidth));
    }
    #blog .card {
        width: calc(2 * var(--cellWidth));
        height: calc(3 * var(--cellHeight));
        padding: 18px;
    }
    #blog .card__image {
        height: 202px;
    }
    #blog .card__info-desc__date {
        width: var(--cellWidth);
    }
    #blog .controls-panel {
        align-items: flex-start;
    }
    #blog .search input {
        width: calc(2 * var(--cellWidth));
    }
    #blog .controls {
        flex-flow: column;
    }
    #blog .selection.categories {
        margin-bottom: 14px;
    }
}